<top-bar class="navbar-fixed-top"></top-bar>
<div class="container">
    <ol class="breadcrumb">
        <!--<li><a href="#/dashboard">{{ 'HOME' | translate }}</a></li>-->
        <!--<li ng-if="userEditCtrl.editMode">{{ ::userEditCtrl.user.username }}</li>-->
    </ol>

    <form id="user-form" name="userForm" ng-submit="userEditCtrl.submitUserEdit(userForm)"
          novalidate loading-mask="userEditCtrl.loading" loading-mask-window>

        <sly-error-messages error-messages="userEditCtrl.errors"></sly-error-messages>

        <div>
            <div class="alert alert-danger" ng-if="userForm.$submitted && userForm.$error.required">
                <i class="fa fa-times-circle"></i>
                <span>{{ 'YOU_MUST_COMPLETE_ALL_REQUIRED_FIELDS' | translate }}</span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group row" show-errors>
                    <div class="col-md-3">
                        <label for="username" class="control-label">{{ 'USER_NAME' | translate }}: </label>
                    </div>
                    <div class="col-md-9 form-inline">
                        <input id="username"
                               name="username"
                               type="text"
                               ng-model="userEditCtrl.user.username"
                               ng-model-options="{ updateOn: 'blur' }"
                               class="form-control"
                               ng-disabled="userEditCtrl.editMode">
                    </div>
                </div>

                <div class="form-group row required">
                    <div class="col-md-3">
                        <label for="username" class="control-label">{{ 'USER_TYPE' | translate }}: </label>
                    </div>
                    <div class="col-md-9 form-inline">
                        <user-types id="user-types" form="userForm" userType="userEditCtrl.user.userType"></user-types>
                    </div>
                </div>

                <div class="form-group row required" show-errors>
                    <div class="col-md-3">
                        <label for="username" class="control-label">{{ 'DISPLAY_NAME' | translate }}: </label>
                    </div>
                    <div class="col-md-9 form-inline">
                        <input id="displayName"
                               name="displayName"
                               type="text"
                               ng-model="userEditCtrl.user.displayName"
                               required
                               ng-model-options="{ updateOn: 'blur' }"
                               class="form-control">
                    </div>
                </div>

            </div>
        </div>

        <div class="pull-right">
            <a href="#/users">{{ 'CANCEL' | translate }}</a>
            <input type="submit" class="btn btn-primary" value="{{ 'SAVE' | translate }}" />
        </div>

        <div class="clearfix"></div>
        <br/>
    </form>
</div>
